# -----------------------------------------------------------------------------
# MULTIMODAL-IA--TFG - Proyecto TFG
# (c) 2025 Pablo González García
# Universidad de Oviedo, Escuela Politécncia de Ingeniería de Gijón
# Archivo: .gitignore
# Autor: Pablo González García
# -----------------------------------------------------------------------------

# Entorno virtual del programa.
venv/
# Carpetas del proyecto.
__pycache__/

**/bin/
**/data/
**/logs/
**/resources/models
**/measure/
**/template/*.tmp
**/rag
# Variables del programa.
.env